{% extends "layout.html" %}
{% block login_logout %}
<a href="/"><button class="btn btn-secondary my-2 my-sm-0" type="button">Logout</button></a>
{% endblock %}


{% block PageName %}
<div class="container">
    <div class="content row">
        <div class="panel panel-info">
            <div class="panel-body" >

                Prediction Dashboard

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="table-responsive">
  <table class="table">
        <thead>
    <tr  class="info">
      <th scope="col">Name</th>
      <th scope="col">University</th>
      <th scope="col">GRE</th>
      <th scope="col">English Lang Score</th>
      <th scope="col">Work Ex</th>
      <th scope="col">Term Applying</th>
      <th scope="col">Prediction Status</th>
    </tr>
    </thead>
     <tbody>
    {% for stud in data %}
       <tr class="danger">
          <td>{{stud.user_name}}</td>
          <td>{{stud.university_choice}}</td>
          <td>{{stud.gre}}</td>
          <td>{{stud.english_score}}</td>
          <td>{{stud.workex}}</td>
          <td>{{stud.term}}</td>
          <td style="font-weight: bold">{{pred}}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
<div>
    <form method="post" action="">
        <input type='hidden' name='data' value='{{data}}' />
        <input type='hidden' name='pred' value='{{pred}}' />
        <input type='hidden' name='username' value='{{username}}' />
        <div class="form-group">
                <div class="aab controls col-md-4 "></div>
                <div class="controls col-md-8 ">
                    <input type="submit" name="recommend" value="Get Recommendation" class="btn btn-primary btn btn-info" id="submit-id-signup" />
                </div>
            </div>
    </form>
</div>
<div></div>
{% if univ_pred != 'None' %}
<div class="table-responsive">
  <table class="table">
        <thead>
    <tr  class="info">
      <th scope="col">University Ranking</th>
      <th scope="col">University</th>
      <th scope="col">Acceptance Percentage</th>
    </tr>
    </thead>
     <tbody>
    {% for pred in univ_pred %}
       <tr style="background:white">
          <td>{{pred.Ranking}}</td>
          <td>{{pred.Universities}}</td>
          <td style="font-weight: bold">{{pred.accept}} %</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% endif %}
{% endblock %}